<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeBNy7o_fnEeG33lvV9vzfCi6TDKQDwZI</string>
	<key>GCM_SENDER_ID</key>
	<string>912983858748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.benjiVendor</string>
	<key>PROJECT_ID</key>
	<string>keen-tokenizer-400311</string>
	<key>STORAGE_BUCKET</key>
	<string>keen-tokenizer-400311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912983858748:ios:3c943b5b967df0220bad39</string>
</dict>
</plist>